
p{
font-size:1cm;
margin-top:1cm;
margin-left:4cm;
font-family:georgia;

}


#box1{
height:6cm;
width:11.5cm;
background-color:990099;
border-radius:2cm;
text-align:center;
color:white;
font-size:1cm;
line-height:6cm;
position:absolute;
top:5cm;
left:1cm;
background:linear-gradient(to left,#9400d3,#CC00CC)
}


#box2{
height:6cm;
width:11.5cm;
background-color:66FF33;
border-radius:2cm;
text-align:center;
color:black;
font-size:1cm;
line-height:6cm;
position:absolute;
top:5cm;
right:1cm;
background:linear-gradient(to left,#99FF00,#33FF99);
}

#box3{
height:6cm;
width:11.5cm;
background-color:336699;
border-radius:2cm;
text-align:center;
color:white;
font-size:1cm;
line-height:6cm;
position:absolute;
top:12cm;
left:1cm;
background:linear-gradient(to left,#333366,#339999);
}

#box4{
height:6cm;
width:11.5cm;
background-color:660066;
border-radius:2cm;
text-align:center;
color:white;
font-size:1cm;
line-height:6cm;
position:absolute;
top:12cm;
right:1cm;
background:linear-gradient(to left,#000033,#CC00CC);
}


#box5{
height:6cm;
width:11.5cm;
background-color:339900;
border-radius:2cm;
text-align:center;
color:white;
font-size:1cm;
line-height:6cm;
position:absolute;
top:19cm;
left:1cm;
background:linear-gradient(to left,#003300,#339900);
}

#box6{
height:6cm;
width:11.5cm;
background-color:CC0000;
border-radius:2cm;
text-align:center;
color:white;
font-size:1cm;
line-height:6cm;
position:absolute;
top:19cm;
right:1cm;
background:linear-gradient(to left,#CC0000,#CC0066);
}

#box7{
height:6cm;
width:11.5cm;
background-color:#daa520;
border-radius:2cm;
text-align:center;
color:black;
font-size:1cm;
line-height:6cm;
position:absolute;
top:26cm;
left:1cm;
background:linear-gradient(to left,#daa520,#FFFF66);
}

#box8{
height:6cm;
width:11.5cm;
background-color:#daa520;
border-radius:2cm;
text-align:center;
color:black;
font-size:1cm;
line-height:6cm;
position:absolute;
top:26cm;
right:1cm;
background:linear-gradient(to left, #5AC4F7,#D2EFFD);
}

